sitewhere-spring/src/main/resources/META-INF/sitewhere.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sitewhere.com/schema/sitewhere" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans" targetNamespace="http://www.sitewhere.com/schema/sitewhere"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>

	<xsd:element name="configuration" type="configurationType"></xsd:element>

	<xsd:complexType name="configurationType">
		<xsd:sequence>
			<xsd:element name="datastore" type="datastoreType" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="datastoreType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="mongo-datastore" type="mongoDatastoreType"></xsd:element>
				<xsd:element name="hbase-datastore" type="hbaseDatastoreType"></xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element name="ehcache-device-management-cache" type="ehcacheDeviceManagementCacheType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="mongoDatastoreType">
		<xsd:attribute name="hostname" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="port" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="hbaseDatastoreType">
		<xsd:attribute name="quorum" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="ehcacheDeviceManagementCacheType">
	</xsd:complexType>

</xsd:schema>