service-rule-processing/src/main/resources/META-INF/rule-processing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/rule-processing"
	xmlns:sw="http://sitewhere.io/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/rule-processing"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://sitewhere.io/schema/sitewhere/microservice/common"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="rule-processing" type="ruleProcessingType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for the
				SiteWhere rule processing microservice.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Contains information about rule processing -->
	<xsd:complexType name="ruleProcessingType">
		<xsd:sequence>
			<xsd:element ref="abstract-rule-processor" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Used as a placeholder for rule processor elements to allow substitutionGroups -->
	<xsd:element name="abstract-rule-processor" abstract="true"
		type="abstractRuleProcessorType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for rule processor elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Common rule processor element information -->
	<xsd:complexType name="abstractRuleProcessorType">
		<xsd:attributeGroup ref="rule-processor-attributes" />
	</xsd:complexType>

	<!-- Attributes common to all rule processors -->
	<xsd:attributeGroup name="rule-processor-attributes">
		<xsd:attribute name="processorId" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Unique identifier for rule processor.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numProcessingThreads" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>
					Number of processing threads used to pull events
					from Kafka and into rule processor.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>

	<!-- Zone test processor -->
	<xsd:element name="zone-test-processor" type="zoneTestProcessorType"
		substitutionGroup="abstract-rule-processor">
		<xsd:annotation>
			<xsd:documentation>
				For each location event, applies a series of tests
				to determine whether the location meets a condition of being inside
				or outside of a given zone. If the condition is met, an alert is
				fired.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="zoneTestProcessorType">
		<xsd:complexContent>
			<xsd:extension base="abstractRuleProcessorType">
				<xsd:sequence>
					<xsd:element name="zone-test" type="zoneTestType"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								Tests a location for inclusion/exclusion from
								a zone and fires
								an alert if the condition is met.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- List of containment test types -->
	<xsd:simpleType name="zoneContainmentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="inside" />
			<xsd:enumeration value="outside" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- List of alert levels -->
	<xsd:simpleType name="alertLevelType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="info" />
			<xsd:enumeration value="warning" />
			<xsd:enumeration value="error" />
			<xsd:enumeration value="critical" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Information used to test zone containment -->
	<xsd:complexType name="zoneTestType">
		<xsd:attribute name="zoneToken" type="xsd:string" use="required"></xsd:attribute>
		<xsd:attribute name="condition" type="zoneContainmentType"
			use="required" />
		<xsd:attribute name="alertType" type="xsd:string" use="required"></xsd:attribute>
		<xsd:attribute name="alertLevel" type="alertLevelType"
			use="optional" />
		<xsd:attribute name="alertMessage" type="xsd:string"
			use="required"></xsd:attribute>
	</xsd:complexType>
</xsd:schema>