service-device-state/src/main/resources/META-INF/device-state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/device-state"
	xmlns:sw="http://sitewhere.io/schema/sitewhere/microservice/common"
	xmlns:ds="http://sitewhere.io/schema/sitewhere/microservice/common/datastore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/device-state"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import
		namespace="http://sitewhere.io/schema/sitewhere/microservice/common"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:import
		namespace="http://sitewhere.io/schema/sitewhere/microservice/common/datastore"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/datastore-common.xsd" />

	<xsd:element name="device-state" type="deviceStateType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for the
				SiteWhere device state management microservice.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Contains information about device state management -->
	<xsd:complexType name="deviceStateType">
		<xsd:all>
			<xsd:element ref="ds:device-state-datastore" />
			<xsd:element ref="abstract-presence-manager" />
		</xsd:all>
	</xsd:complexType>

	<!-- Used as a placeholder for presence manager elements to allow substitutionGroups -->
	<xsd:element name="abstract-presence-manager"
		abstract="true" type="abstractPresenceManagerType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for presence manager elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Common presence manager element information -->
	<xsd:complexType name="abstractPresenceManagerType" />

	<!-- Default presence manager implementation -->
	<xsd:element name="presence-manager"
		type="defaultPresenceManagerType"
		substitutionGroup="abstract-presence-manager">
		<xsd:annotation>
			<xsd:documentation>
				Default presence manager implementation.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="defaultPresenceManagerType">
		<xsd:complexContent>
			<xsd:extension base="abstractPresenceManagerType">
				<xsd:attribute name="checkInterval" type="xsd:string"
					use="optional">
					<xsd:annotation>
						<xsd:documentation>
							Amount of time to wait between presence check
							cycles. Uses ISO8601 duration format. (e.g. T1H30M is 1 hour and
							30 minutes)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="presenceMissingInterval"
					type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>
							Amount of time since last interaction date at
							which a device is considered non-present. Uses ISO8601 duration
							format. (e.g. P2DT3H5M20S is 2 days, 3 hours, 5 minutes, and 20
							seconds)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>