sitewhere-microservice/src/main/resources/META-INF/instance-global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/instance-global"
	xmlns:sw="http://sitewhere.io/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/instance-global"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://sitewhere.io/schema/sitewhere/microservice/common"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="instance-global" type="instanceGlobalType">
		<xsd:annotation>
			<xsd:documentation>
				Provides global information used by instance-level
				components.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Top-level global elements -->
	<xsd:complexType name="instanceGlobalType">
		<xsd:all>
			<xsd:element ref="abstract-datastore-configuration">
				<xsd:annotation>
					<xsd:documentation>
						Provides global datastore configuration.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<!-- Used as a placeholder for datastore configurations to allow substitutionGroups -->
	<xsd:element name="abstract-datastore-configuration"
		abstract="true" type="abstractDatastoreConfigurationType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for datastore configuration
				elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Common datastore configuration information -->
	<xsd:complexType name="abstractDatastoreConfigurationType">
	</xsd:complexType>

	<!-- Mongo configuration elements -->
	<!-- Default user model initializer -->
	<xsd:element name="mongodb-configuration" type="mongoConfigurationType"
		substitutionGroup="abstract-datastore-configuration">
		<xsd:annotation>
			<xsd:documentation>
				Provides global datastore configuration using
				MongoDB for persistence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="mongoConfigurationType">
		<xsd:complexContent>
			<xsd:extension base="abstractDatastoreConfigurationType">
				<xsd:sequence>
					<xsd:element name="default-mongodb-configuration"
						type="defaultMongoDatastoreConfigurationType" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Default configuration data for MongoDB
								datastores.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="alternate-mongodb-configuration"
						type="alternateMongoDatastoreConfigurationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Alternate configuration data for MongoDB
								datastores.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Default MongoDB datastore configuration -->
	<xsd:complexType name="defaultMongoDatastoreConfigurationType">
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>

	<!-- Alternate MongoDB datastore configuration -->
	<xsd:complexType name="alternateMongoDatastoreConfigurationType">
		<xsd:attribute name="id" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Unique id for datastore configuration.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>
</xsd:schema>