sitewhere-microservice/src/main/resources/META-INF/instance-management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/instance-management"
	xmlns:sw="http://sitewhere.io/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/instance-management"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://sitewhere.io/schema/sitewhere/microservice/common"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="instance-management" type="instanceManagementType">
		<xsd:annotation>
			<xsd:documentation>
				Provides global instance management configuration
				data.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Top-level instance management elements -->
	<xsd:complexType name="instanceManagementType">
		<xsd:all>
			<xsd:element name="persistence-configurations" type="persistenceConfigurationsType">
				<xsd:annotation>
					<xsd:documentation>
						Captures reusable configuration information that
						can be used by tenants to access common datastores.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<!-- Persistence configurations -->
	<xsd:complexType name="persistenceConfigurationsType">
		<xsd:sequence>
			<xsd:element ref="abstract-persistence-configuration"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Provides global datastore configuration.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Used as a placeholder for datastore configurations to allow substitutionGroups -->
	<xsd:element name="abstract-persistence-configuration"
		abstract="true" type="abstractPersistenceConfigurationType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for persistence configuration
				elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Common datastore configuration information -->
	<xsd:complexType name="abstractPersistenceConfigurationType">
	</xsd:complexType>

	<!-- MongoDB persistence configuration elements -->
	<xsd:element name="mongodb-configurations" type="mongoConfigurationsType"
		substitutionGroup="abstract-persistence-configuration">
		<xsd:annotation>
			<xsd:documentation>
				Provides global datastore configuration using
				MongoDB for persistence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="mongoConfigurationsType">
		<xsd:complexContent>
			<xsd:extension base="abstractPersistenceConfigurationType">
				<xsd:sequence>
					<xsd:element name="default-mongodb-configuration"
						type="defaultMongoDatastoreConfigurationType" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Default configuration data for MongoDB
								datastores.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="alternate-mongodb-configuration"
						type="alternateMongoDatastoreConfigurationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Alternate configuration data for MongoDB
								datastores.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Default MongoDB datastore configuration -->
	<xsd:complexType name="defaultMongoDatastoreConfigurationType">
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>

	<!-- Alternate MongoDB datastore configuration -->
	<xsd:complexType name="alternateMongoDatastoreConfigurationType">
		<xsd:attribute name="id" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Unique id for datastore configuration.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>
</xsd:schema>