sitewhere-microservice/src/main/resources/META-INF/instance-global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://www.sitewhere.com/schema/sitewhere/microservice/instance-global"
	xmlns:sw="http://www.sitewhere.com/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.sitewhere.com/schema/sitewhere/microservice/instance-global"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
	<xsd:import
		namespace="http://www.sitewhere.com/schema/sitewhere/microservice/common"
		schemaLocation="http://www.sitewhere.org/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="instance-global" type="instanceGlobalType">
		<xsd:annotation>
			<xsd:documentation>
				Provides global information used by instance-level
				components.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Top-level global elements -->
	<xsd:complexType name="instanceGlobalType">
		<xsd:all>
			<xsd:element name="mongodb-configuration" type="mongoConfigurationType"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<!-- Mongo configuration elements -->
	<xsd:complexType name="mongoConfigurationType">
		<xsd:sequence>
			<xsd:element name="default-mongodb-configuration"
				type="defaultMongoDatastoreConfigurationType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Default configuration data for MongoDB
						datastores.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternate-mongodb-configuration"
				type="alternateMongoDatastoreConfigurationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Alternate configuration data for MongoDB
						datastores.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Default MongoDB datastore configuration -->
	<xsd:complexType name="defaultMongoDatastoreConfigurationType">
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>

	<!-- Alternate MongoDB datastore configuration -->
	<xsd:complexType name="alternateMongoDatastoreConfigurationType">
		<xsd:attribute name="id" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Unique id for datastore configuration.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="sw:mongo-attributes" />
	</xsd:complexType>
</xsd:schema>