sitewhere-microservice/src/main/resources/META-INF/instance-global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://www.sitewhere.com/schema/sitewhere/microservice/instance-global"
	xmlns:sw="http://www.sitewhere.com/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.sitewhere.com/schema/sitewhere/microservice/instance-global"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
	<xsd:import
		namespace="http://www.sitewhere.com/schema/sitewhere/microservice/common"
		schemaLocation="http://www.sitewhere.org/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="instance-global" type="instanceGlobalType">
		<xsd:annotation>
			<xsd:documentation>
				Provides global information used by instance-level
				components.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="instanceGlobalType">
		<xsd:all>
			<xsd:element ref="abstract-instance-datastore" />
		</xsd:all>
	</xsd:complexType>

	<!-- Used as a placeholder for instance datastores to allow substitutionGroups -->
	<xsd:element name="abstract-instance-datastore" abstract="true"
		type="sw:abstractDatastoreType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for instance datastore elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Instance datastore based on base MongoDB datastore -->
	<xsd:element name="mongo-datastore" type="mongoInstanceDatastoreType"
		substitutionGroup="abstract-instance-datastore">
		<xsd:annotation>
			<xsd:documentation>Instance datastore that uses MongoDB for data
				persistence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="mongoInstanceDatastoreType">
		<xsd:complexContent>
			<xsd:extension base="sw:mongoDatastoreType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>