service-event-search/src/main/resources/META-INF/event-search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/event-search"
	xmlns:sw="http://sitewhere.io/schema/sitewhere/microservice/common"
	xmlns:cn="http://sitewhere.io/schema/sitewhere/microservice/common/connector"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/event-search"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import
		namespace="http://sitewhere.io/schema/sitewhere/microservice/common"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:import
		namespace="http://sitewhere.io/schema/sitewhere/microservice/common/connector"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/connector-common.xsd" />

	<xsd:element name="event-search" type="eventSearchType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for the
				SiteWhere event search microservice.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Contains information about event search -->
	<xsd:complexType name="eventSearchType">
		<xsd:sequence>
			<xsd:element name="search-providers"
				type="searchProvidersType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Specifies a list of external search providers
						that have indexed SiteWhere data and may be queried via the REST
						services, returning a list of SiteWhere events.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Used as a placeholder for search provider elements to allow substitutionGroups -->
	<xsd:element name="abstract-search-provider"
		abstract="true" type="abstractSearchProviderType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for search provider elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Common search provider element information -->
	<xsd:complexType name="abstractSearchProviderType">
		<xsd:attribute name="id" type="xsd:string"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Unique id for referencing the search provider.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Name shown in user interface for search provider.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- Specifies list of search providers -->
	<xsd:complexType name="searchProvidersType">
		<xsd:sequence>
			<xsd:element ref="abstract-search-provider" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Apache Solr search provider -->
	<xsd:element name="solr-search-provider"
		type="solrSearchProviderType"
		substitutionGroup="abstract-search-provider">
		<xsd:annotation>
			<xsd:documentation>
				Search provider that sends search requests to
				Apache Solr and returns the results as matching SiteWhere events.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="solrSearchProviderType">
		<xsd:complexContent>
			<xsd:extension base="abstractSearchProviderType">
				<xsd:sequence>
					<xsd:element ref="cn:solr-configuration-choice" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>