service-asset-management/src/main/resources/META-INF/asset-management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://www.sitewhere.com/schema/sitewhere/microservice/asset-management"
	xmlns:sw="http://www.sitewhere.com/schema/sitewhere/microservice/common"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sitewhere.com/schema/sitewhere/microservice/asset-management"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import
		namespace="http://www.sitewhere.com/schema/sitewhere/microservice/common"
		schemaLocation="http://www.sitewhere.org/schema/sitewhere/microservice/common/current/microservice-common.xsd" />

	<xsd:element name="asset-management" type="assetManagementType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for the
				SiteWhere asset management microservice.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="assetManagementType">
		<xsd:all>
			<xsd:element ref="sw:abstract-datastore">
				<xsd:annotation>
					<xsd:documentation>
						Datastore used for persistence.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="asset-modules" type="assetModulesType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Contains declarations for asset modules.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<!-- Reference to an asset module defined in a Spring bean -->
	<xsd:complexType name="assetModuleReferenceType">
		<xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<!-- Reference to an asset module that interacts with WSO2 Identity Server -->
	<xsd:complexType name="wso2IdentityAssetModuleType">
		<xsd:attribute name="moduleId" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Unique asset module id.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="scimUsersUrl" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					SCIM URL for accessing the list of users.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="username" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Basic authentication username for web service
					calls.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="password" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Basic authentication password for web service
					calls.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ignoreBadCertificate" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>
					Indicates whether an invalid SSL certificate on
					the server should
					be ignored.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- Asset modules -->
	<xsd:complexType name="assetModulesType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="asset-module" type="assetModuleReferenceType">
					<xsd:annotation>
						<xsd:documentation>
							References a custom asset module
							implementation.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="wso2-identity-asset-module" type="wso2IdentityAssetModuleType">
					<xsd:annotation>
						<xsd:documentation>
							Configures an asset module that pulls
							information from WSO2
							Identity Server.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>