service-batch-operations/src/main/resources/META-INF/batch-operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://sitewhere.io/schema/sitewhere/microservice/batch-operations"
	xmlns:ds="http://sitewhere.io/schema/sitewhere/microservice/common/datastore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sitewhere.io/schema/sitewhere/microservice/batch-operations"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import
		namespace="http://sitewhere.io/schema/sitewhere/microservice/common/datastore"
		schemaLocation="http://sitewhere.io/schema/sitewhere/microservice/common/current/datastore-common.xsd" />

	<xsd:element name="batch-operations" type="batchOperationsType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for the
				SiteWhere batch operations microservice.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- Contains information about batch operations -->
	<xsd:complexType name="batchOperationsType">
		<xsd:all>
			<xsd:element ref="ds:device-management-datastore" />
			<xsd:element name="batch-operation-manager" type="batchOperationManagerType">
				<xsd:annotation>
					<xsd:documentation>
						Configures the batch operation manager
						implementation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="batchOperationManagerType">
		<xsd:attribute name="throttleDelayMs" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>Indicates the amount of time in milliseconds
					between command invocations when invoking a batch of commands. Used
					to lower system load generated by submitting a large number of
					command invocations concurrently.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>